body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:57px;
  width:323px;
  height:321px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:106px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:93px;
  width:244px;
  height:106px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:243px;
  width:224px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#199ED8;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:306px;
  width:224px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#199ED8;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:220px;
  word-wrap:break-word;
}
